.card {
	width: 324px;
	height: calc(20px + 300px + 4px + 50px + 4px + 20px + 20px);
	border: 2px solid black;
	margin: 5px;
	display: inline-block;
	border-radius: 20px;
}

.header:hover {
	background-color: green;
}

.header:active {	/*нажатие*/
	background-color: blue;
	color: white;
}